---

- name: Pre_tasks Rhel
  hosts: all
  become: true
  pre_tasks:
    - name: Instalar firewalld y pip3
      ansible.builtin.package:
        name: "{{ item }}"
        state: present
      with_items:
        - firewalld
        - python3-pip

- name: Instalaci칩n node_exporter
  hosts: NODE_EXPORTER
  become: true
  roles:
    - role: node-exporter

- name: Instalaci칩n y configuracion Prometheus
  hosts: PROMETHEUS
  become: true
  roles:
    - role: prometheus
    - role: a침adir_nodo
    - role: grafana
      
- name: Instalaci칩n y configuracion proxy nginx
  hosts: PROXY
  become: true
  roles:
    - role: proxy_nginx

...